{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h1 class="text-center mt-5">Jahidul Islam Education</h1>
</div>
<div class="container">
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Degree</th>
        <th scope="col">Institution</th>
        <th scope="col">Result</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BSC</td>
        <td>Daffodil International University</td>
        <td>3.88</td>

      </tr>
      <tr>
        <td>H.S.C</td>
        <td>Milestone College </td>
        <td>5.00</td>

      </tr>
      <tr>
        <td>S.S.C</td>
        <td>Milestone College </td>
        <td>5.00</td>
      </tr>
    </tbody>
  </table>

</div>
<h1 class="text-center mt-5">Sakibul Islam Education</h1>
<div class="container">
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Degree</th>
        <th scope="col">Institution</th>
        <th scope="col">Result</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BSC</td>
        <td>Daffodil International University</td>
        <td>3.75</td>

      </tr>
      <tr>
        <td>H.S.C</td>
        <td>Brammon Baria Govt College </td>
        <td>4.80</td>

      </tr>
      <tr>
        <td>S.S.C</td>
        <td>Annada Govt High School</td>
        <td>5.00</td>
      </tr>
    </tbody>
  </table>

</div>

<footer class="bg-black pt-3 pb-3">
  <section class="container text-white">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p>&copy;2022 all right .All bike reseverd .</p>

      </div>
      <div>

        <h3 class="m-0 pb-2">Get the app</h3>
        <a class="text-white" href="https://apps.apple.com/us/app/google/id284815942">
          <div class="border rounded-3 mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-1 pe-2 ps-2">
                <i class="fab fa-apple w-2.4rem"></i>
              </div>
              <div>
                <small class="p-0 m-0">Download the app</small>
                <h4 class="m-0">App Store</h4>
              </div>
            </div>
          </div>
        </a>

        <a class="text-white" href="https://play.google.com/store/apps">
          <div class="border rounded-3">
            <div class="d-flex align-items-center">
              <div class="fs-1 pe-2 ps-2">
                <i class="fas fa-play"></i>
              </div>
              <div>
                <small class="p-0 m-0">Download the app</small>
                <h4 class="m-0 ">Play store</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>


  </section>


</footer>

{% endblock %}