{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
  <h3 class="text-center">Israt Jahan || Sakibul Islam</h3>
  <p class="text-center"> This is me Israt Jahan . I have so many hobbies which I love to do on my leisure time such as
    , Painting, Cooking, Gardening. Among them painting is the most significant one</p>

  <img src="{% static 'images/israt (1).jpg' %}" class="rounded mx-auto d-block w-25 p-3" alt="My_photo">
  <p class="text-center"> This is me Shakibul Islam .I have many hobbies, but I like reading most. Books are always a
    good friend to me. It is a good way to improve my vocabularies by exposing many new words.I star to reading book
    when i in grade 3.my brother inspired me to do that.I usualy share my hobby with my friend and my english teacher.By
    reading, I get better at concentration because it requires me to focus on what I am reading for long periods. It
    also opens up the knowledge door for me. Reading books tell me about the world's history, let me see the structure
    of the brain, or bring me a story of Sherlock Holmes. I think reading is one of the most interesting indoors
    activity and I will keep this hobby forever.</p>

  <img src="{% static 'images/shakib.jpg' %}" class="rounded mx-auto d-block w-25 p-3" alt="My_photo">
</div>

<!-- Section-2 Work Experience -->
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Work Experience</h3>
    </div>
    <div class="card-body">
      <h5>Daffodil International University</h5>
      <div><strong>February 2022 - Present</strong></div>
      <p class="card-text">Teaching Apprentice Fellow</p>
    </div>

    <div class="card-body">
      <h5>Expert Consortium Ltd.</h5>
      <div><strong>June 2021 - January 2022</strong></div>
      <p class="card-text">ML Programmer</p>
      <div>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Django</div>
              AI model integration with website, REST Framework, Celery, RabbitMQ Server.
            </div>

          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">NLU</div>
              Intent Classification, Name-Entity Recognition.
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Deploy Chatbot</div>
              In different communication channels like Discord, Messenger, Telegram and website.
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Text to Speech</div>
              Pyttsx3, Gtts, Nvidia Nemo, Mozilla TTS.
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Hugging Face</div>
              Gpt, Gpt-2(Conv AI), BERT (Question-Answer).
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">RASA Chatbot Framework</div>
              Weather Bot, Search Flight, Book Hotel, Currency Converter, Send Email.
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Section-2 Work Experience -->

<!-- Section-3 Skills -->
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Skills</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>Language</h5>
          <ul>
            <li>C</li>
            <li>Java</li>
            <li>Python</li>
          </ul>
        </div>
        <div class="col">
          <h5>Alogorithm</h5>
          <ul>
            <li>Supervised</li>
            <li>Unsupervised</li>
            <li>Data Visualization</li>
            <li>Performance Measure</li>
          </ul>
        </div>
        <div class="col">
          <h5>Library</h5>
          <ul>
            <li>NumPy, Pandas, Seaborn</li>
            <li>Scikit-Learn</li>
            <li>Keras,Tensorflow</li>
            <li>PyTorch</li>
          </ul>

        </div>
        <div class="col">
          <h5>Frontend</h5>
          <ul>
            <li>Html</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Jinja2</li>
          </ul>
        </div>
        <div class="col">
          <h5>Backend</h5>
          <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>Django REST framework</li>
            <li>Django Graphene</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Database</h5>
          <ul>
            <li>SQLite</li>
            <li>MS SQL</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
        <div class="col">
          <h5>NLP</h5>
          <ul>
            <li>TextBlob</li>
            <li>Nltk</li>
            <li>SpaCy</li>
            <li>GPT,GPT-2, BERT</li>
          </ul>
        </div>
        <div class="col">
          <h5>Chatbot</h5>
          <ul>
            <li>RASA</li>
            <li>DialogFlow</li>
            <li>Chatterbot</li>
          </ul>
        </div>
        <div class="col">
          <h5>Platform</h5>
          <ul>
            <li>Anaconda</li>
            <li>JupyterLab</li>
            <li>Google Colab</li>
            <li>VS Code</li>
          </ul>
        </div>
        <div class="col">
          <h5>Version Controlling</h5>
          <ul>
            <li>Git</li>
            <li>Docker</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="bg-black pt-3 pb-3">
  <section class="container text-white">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p>&copy;2022 all right .All bike reseverd .</p>

      </div>
      <div>

        <h3 class="m-0 pb-2">Get the app</h3>
        <a class="text-white" href="https://apps.apple.com/us/app/google/id284815942">
          <div class="border rounded-3 mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-1 pe-2 ps-2">
                <i class="fab fa-apple w-2.4rem"></i>
              </div>
              <div>
                <small class="p-0 m-0">Download the app</small>
                <h4 class="m-0">App Store</h4>
              </div>
            </div>
          </div>
        </a>

        <a class="text-white" href="https://play.google.com/store/apps">
          <div class="border rounded-3">
            <div class="d-flex align-items-center">
              <div class="fs-1 pe-2 ps-2">
                <i class="fas fa-play"></i>
              </div>
              <div>
                <small class="p-0 m-0">Download the app</small>
                <h4 class="m-0 ">Play store</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>


  </section>


</footer>


<!-- Section-3 Skills -->
{% endblock %}